$v-offset: 5px;
$h-offset: 1px;
// $blur: 20px;
$spread: 0px;
$shadow-clr: rgba(0, 0, 0, 0.2);
$shadow-clr-hover: rgba(0, 0, 0, 0.175);

@function shadow($blur) {
  $shadow: $h-offset $v-offset $blur $spread $shadow-clr;
  @return $shadow;
}

@function shadow-hover($x) {
  $shadow-hover: $h-offset $v-offset calc(#{$blur} * 2) $spread
    $shadow-clr-hover;
  @return $shadow-hover;
}

.shadow {
  // box-shadow: shadow(15px);
  box-shadow: shadow(17px);
}
