@forward './scss/reset';
@forward './scss/fonts';
@use './scss/vars' as *;
@use './scss/shadow' as *;

main {
  opacity: 0;
  transform-origin: center;

  padding: $gap;
  max-width: 1000px;
  min-width: 300px;
  // margin: 50px auto;
  margin: 0px auto;
}

.card {
  border: solid black 1px; 
  border-radius: $radius;
  background: $bg-grey;
  padding: calc(1.5 * #{$gap});
}

section {
  // background: lightblue;
  
  border-radius: $radius;
}
section { 
  // border: solid yellow 10px;
  margin-bottom: $gap-big;
}

.glass {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: $radius;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: white;
}

h1 { 
  // background: red;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: calc(0.25 * #{$gap});
}

h2 { 
  // background: green;
  font-size: 1.4rem; 
  font-weight: 400;
  margin: 0;
  margin-bottom: calc(0.5 * #{$gap});
}

h3 { 
  // background: lightcoral;
  font-size: 1.2rem; 
  font-weight: 500;
  line-height: 1;
  margin: 0;
  margin-bottom: calc(0.25 * #{$gap});
}

h4 { 
  color: $text-grey;
  font-weight: 400;
  font-size: 1.1rem; 
  margin: 0;
  margin-bottom: calc(0.5 * #{$gap});
}

ul {
  // background: orange;
  padding-left: calc(1.5 * #{$gap});

  li {
    padding-left: calc(0.5 * #{$gap});
    font-size: 0.9rem;
    &::marker {
      content: '→';
      background: hsl(200 20% 88%);
      // color: hotpink;
      margin: 1rem;
    }

    ul.level-2 {
     li {
      &::marker {
        content: '⇒';
        background: hsl(200 20% 88%);
        // color: hotpink;
        margin: 1rem;
      } 
     } 
    }
  }
}

a {
  font-size: 1rem;
  font-weight: 400;
  // background: blue;
  color: $text-blue;
}