@forward '../../scss/reset';
@forward '../../scss/fonts';
@use '../../scss/vars' as *;


.section-1 {
  display: flex;
  justify-content: space-between;

  &__left {
    // background: red;
    // text-align: center;

    > :last-child { 
      // background: yellow;
      height: 1rem;
      margin: 0;

      a {
        display: flex;
        // background: red;
        .svg-mail { 
          // background: orange;
          height: 100%;
         }

        span {
          margin-left: 0.75rem;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  &__right {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .socials {
      // height: 200px;
      // background: blue;
      display: flex;
      justify-content: space-around;
      align-items: center;

      margin-bottom: calc(0.5 * #{$gap});

      svg {
        $height: 30px;
        height: $height;
        width: $height;
        // background: red;
      }
    }

    .website-link  {
      // background: orange;
    }
  }
}