@use '../../scss/vars' as *;

pre code {
  background-color: black;
  border: 1px solid #999;
  display: block;
  border-radius: 5px;
  overflow: hidden;
  padding: 1rem;
}
.html { color: #E16D75; }
.lt, .gt { color: #ABB2BF; }
.text { color: white; }