@use '../../scss/vars' as *;



pre {
  margin: 0;
  code { 
    background-color: black;
    display: block;
    border-radius: $radius;
    border: 1px solid rgba(255, 255, 255, 0.125);
    overflow: hidden;
    padding: 1rem;
  }
}
.html { color: #E16D75; }
.lt, .gt { color: #ABB2BF; }
.text { color: white; }