@forward '../../scss/reset';
@forward '../../scss/fonts';
@use '../../scss/vars' as *;
@use '../../scss/mixins' as *;


.section-3 {
  margin-bottom: 0;

  h2 { // override the main h2 to make a little bigger due to the sub-card below the heading in this section
    margin-bottom: calc(1 * #{$gap});
  }

  .project {
    // background: $bg-blue;
    background: white;
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows:    auto 1fr;
    gap: $gap;
    padding: $gap;
    // background: lightgreen;
    border: solid black 1px;
    border-radius: $radius;
    
    .left {
      grid-row: 1 / -1; 
      // border: dashed rgba(0, 0, 0, 0.1) 1px;
      // background: lightblue;
    }

    .logos {
      grid-row: 1 / 2;
      grid-column: 2 / -1;
      // border: solid green 10px;
      display: flex;
      justify-content: space-between;
      .logo {
        height: 50px;

        display: none;
        &:nth-child(1) { @include sm { display: inline; } }
        &:nth-child(2) { @include md { display: inline; } }
        &:nth-child(3) { @include lg { display: inline; } }
        &:nth-child(4) { @include xl { display: inline; } }
      }

      &.three-logos {
        justify-content: flex-start;
        // background: red;
        .logo:not(:last-child) {
            margin-right: 2rem;
          }  
      }
    }

    .demo-links {
      grid-row: 2 / 3;
      grid-column: 2 / -1;
      // border: solid darkorange 5px;
      .demo-link {
        // background: lightblue;
        margin: $gap;
        margin-left: 0;
      }
    }
  }

  &__project-1,
  &__project-2,
  &__project-3,
  &__project-4 {
    margin-bottom: 1rem;
  }

  // .section-3__project-5 {
  //   border: dashed hotpink 2px;
  //   // -different from other project sections
  //   // -3-columns for the web-comp native HTML code snippet
  //   grid-template-columns: 30% 30% 1fr;
  //   // grid-template-rows:    auto auto;

  //   .left {
  //     grid-row: 1 / 3;
  //     grid-column: 1 / 2;
  //   }
  //   .code-snippet {
  //     // align-self: flex-end;
  //     // justify-self: flex-end;
  //     // justify-content: flex-end;
  //     // align-content: flex-end;
  //     // align-items: flex-end;
  //     grid-row: 1 / 3;
  //     grid-column: 2 / 3;
      
  //   }
  //   .logos {
  //     grid-row: 1 / 2;
  //     grid-column: 3 / 4;
  //   }
  //   .demo-links {
  //     grid-row: 2 / 3;
  //     grid-column: 3 / 4;
  //   }
  // }



  // background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
  // background-image: url('/img/images/AdobeStock_161661879_1920x1108.webp');
  // background-image: url('/img/images/AdobeStock_161661879_1920x1108-rotated-90deg--TODO-ROTATE-ORIGINAL-IMAGE-AND-COMPRESS.webp');
  // background-image: url('/img/images/AdobeStock_504342235_1000_MozJPEG-crop.jpg');
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover; 
}