@forward '../../scss/reset';
@forward '../../scss/fonts';
@use '../../scss/vars' as *;


.section-2 {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  // grid-template-rows: repeat(20, auto);
  // gap: $gap;

  &__left {
    grid-column: 1 / 6;
    grid-row: 1 / 20;
  }

  &__middle {
    grid-column: 11 / -1;
    grid-row: 1 / 18;
  }
  
  &__right {
    grid-column: 5 / 10;
    grid-row: 3 / 15;
    background: $bg-blue;
    // transform: rotate(5deg);
  }

}